<!DOCTYPE html>
<html lang ="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale-1.0">
        <title>Error Page</title>
    
    </head>
    <body style="text-align: center;">
    <h1 style = "color: red"><strong>ERROR:  404</strong></h1>
    <br style = "font-weight: bold; font-size: 20px;">Page cannot be found
</body>
</html>